<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <p>Enter your email to receive a link to reset your password</p>
</head>
<body>
    <div>
        <form action="/forgot" method="post">
            <input type="email" name="email" id="email">
            <button type="submit">Send Email</button>
        </form>
    </div>
    <script></script>
</body>
</html>