<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Login Page</h1>
<form action="/login" method="post">
    <input required type="email" name="email" placeholder="Your E-mail Address"/>
    <input required type="password" name="password" placeholder="Enter Your Password"/>
    <input type="submit" value="Login"/>
</form>
</body>
</html>
