<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://yui.yahooapis.com/pure/0.5.0/pure-min.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <div>
        <form class="pure-form" method="post">
            <fieldset>
                <legend>Create A New Password</legend>
                <input type="password" placeholder="New Password" name="password" id="password" required>
                <input type="password" placeholder="Confirm Password" name="confirm_password" id="confirm_password" required>
                <button type="submit">Confirm</button>
            </fieldset>
        </form>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script id="rendered-js">
        var password = document.getElementById("password"),
        confirm_password = document.getElementById("confirm_password");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
</body>
</html>